/*== Main Body Properties ==*/
body {
	background-image: url("../images/rpsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    color: black;
}

/*== Player Area Main Properties ==*/
#playerArea {
    margin:10px;
}
/*== Player 1, 2, Results, Chat Area Shared Properties ==*/
#playerOne, #playerTwo, #results, #chatArea {
    border: 2px solid black;    
    height: 200px;
    margin: 5px;
    background: whitesmoke;
    opacity: 0.7;
    font-weight: bold;
}
button {
    margin:5px;
   
}

